.cart-item-screen{
    height: auto;
    min-height: 280px;
    max-height: 585px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}